body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #0a0010, #1a001f, #2b0000);
  color: white;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 40px;
  text-align: center;
}

.header h1 {
  font-size: 36px;
  background: linear-gradient(to right, #b300ff, #ff0033);
  -webkit-background-clip: text;
  color: transparent;
}

.header p {
  color: #bbb;
  margin-bottom: 30px;
}

.box {
  background: rgba(0,0,0,0.45);
  border: 1px solid #7a00ff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 25px rgba(255,0,60,0.2);
}

.accordion {
  background: #140014;
  color: white;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 17px;
  margin-top: 10px;
  border-radius: 10px;
  transition: 0.3s;
}

.accordion:hover {
  background: #2a002a;
}

.panel {
  display: none;
  padding: 15px;
  background: #1a001f;
  border-radius: 10px;
  margin-top: 5px;
  text-align: left;
}

footer {
  margin-top: 30px;
  color: #777;
  font-size: 13px;
}
